{% extends "::base.html.twig" %}

{% block body %}
	<a href="{{path('fos_user_security_logout')}}">{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</a></li>
    <h1>Hello {{ user.fullName is empty ? user.email : user.fullName }}</h1>
    <h2>This is login protected page!</h2>
{% endblock %}
